body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo-placeholder {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container {
  width: 200px;
  height: 100px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  align-items: center;
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.form-container button:hover {
    background-color: #0056b3;
}

.waitlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin: 50px auto;
}

.waitlist-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.waitlist-container p {
    font-size: 18px;
    margin-bottom: 20px;
}

#waitlist-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#waitlist-form input, #waitlist-form textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#waitlist-form button {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#waitlist-form button:hover {
    background-color: #3e8e41;
}
